
.bar-contain {
    width: 100%;
    padding: 0;
    margin: 0 0 46px 0;
    background: #cccccc;
    display: inline-block; 
    height: 42px;
    border-radius: 3px;
}

.bar-label {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 10px;
}

.bar-expand {
    left: 0;
    top: 0;
    margin: 0 0 46px 0;
    padding: 0 24px 0 0 ;
    background: #023777;
    display: inline-block;
    height: 40px;
    border-radius: 3px 0 0 3px;
}